<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tvn_cosine.languagedetector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <tvn_cosine.languagedetector.Properties.Settings>
            <setting name="DMARK_CLASS" serializeAs="String">
                <value>\u0300\u0301\u0303\u0309\u0323</value>
            </setting>
        </tvn_cosine.languagedetector.Properties.Settings>
    </userSettings>
</configuration>